.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0% 0%, 12% 0%, 13% 20px, 14% 0% ,100% 0%, 100% 100%, 0% 100%);
    width: 100vw;
    height: 93%;
    background-color: #333333;
}

.section-description h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5.5vh;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.section-description p {
    color: rgb(180, 179, 179);
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0px;
}