.blog-sidebar {
    padding: 2% 0;
    height: auto;
    width: 35%;
    background-color: #f0f0f0;
}

.sidebar-item {
    opacity: 0.4;
    margin-top: 2vh;
    margin-left: 10vw;
    width: 35%;
    min-height: 150px;
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0); 
}

.sidebar-item:hover {
    opacity:1;
    animation: 0.5s polygon;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes polygon {
    0% {
        clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0); 
    }

    100% {
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    }
}
.sidebar-item:nth-child(odd) {
    margin-left: 10vw;
}
.sidebar-item:nth-child(even) {
    margin-left: 20vw;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    background-color: rgba(255, 255, 255); 
    color:rgb(59, 59, 59);;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    box-shadow: 0px 5px 5px rgb(180, 175, 175);
    margin-left: 70%;
    opacity: 0.4;
}

.reset:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(104, 103, 103);
}