.profession, .introduce {
    margin: 0.5vh 0vw;
    background-color:rgba(0, 0, 0, 0.3);
}

.introduce p {
    display: block;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 3em;
    margin: 0px;
    padding: 1.5vh 1.5vw;
    letter-spacing: -2px;
}

.profession p {
    text-transform: uppercase;
    display: block;
    color: rgb(228, 225, 225);
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin: 0px;
    padding: 1.5vh 1.5vw;
}

.developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
 }